<script>src="d3.min.js"</script>
<div class="container spacer">
    <div class="row">
        <div class="col-sm-3">
            <select (change)="navigateTo($event.target.value)">
                <option value="home">--Choisir un site--</option>
                <option *ngFor="let s of sites" value="{{s.name}}">{{s.name}}</option>
            </select>
        </div>
        <div class="col-sm-3">
            <button class="btn btn-primary" (click)="cancel = true">Cancel</button>
        </div>
    </div>
    
</div>
<router-outlet></router-outlet>



