<div *ngIf="chart">
  <canvas #canvas id="canvas">{{ chart }}</canvas>
</div>

<script>

this.chartService.dailyForecast()
    .subscribe(res => {
        
        let temp_max = res['list'].map(res => res.temp.max)
        let temp_min = res['list'].map(res => res.temp.min)
        let alldates = res['list'].map(res => res.dt)
        let weatherDates = [];
        alldates.forEach(element => {
          let jsdate = new Date(element * 1000)
          weatherDates.push(jsdate.toLocaleTimeString('en', { year: 'numeric', month: 'short', day:'numeric' }))
        });
        console.log('weatherDates : ', weatherDates)
        console.log('temp_max : ', temp_max)
        console.log('temp_min : ', temp_min)
        // let htmlRef = this.elementRef.nativeElement.querySelector(`#yourCavasId`)
        var $scope = angular.element('#canvas').scope();
        var canvas = document.getElementById("canvas");
        var ctx = canvas.getContext("2d");
          this.chart = new Chart(ctx, {
          type: 'line',
          data: {
            labels: weatherDates,
            datasets: [
              {
                data: temp_max,
                borderColor: '#3cba9f',
                fill: false
              },
              {
                data: temp_min,
                borderColor: '#3ffcc00',
                fill: false
              }
            ]
          },
          options: {
            legend: {
              display: false
            },
            scales: {
              xAxes: [{
                display: true
              }],
              yAxes: [{
                display: true
              }]
            }
          }
        })
    });</script>